.dresscode {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  position: relative;
}

.dresscode__title {
  margin: 0;
}

.dresscode__text {
  font-family: "rosamarena", "Arial", sans-serif;
  font-size: 80px;
  line-height: 90px;
  font-weight: normal;
  margin: 0 0 20px;
  align-self: center;
  text-align: start;
}

.dresscode__stone {
  position: absolute;
  object-fit: contain;
  width: 1000px;
  height: 800px;
  top: -60px;
  left: -700px;
  left: -2;
}

.dresscode__description {
  font-size: 20px;
  line-height: 37px;
  width: 50%;
  margin: 40px 0 0;
}

.dresscode__colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0 0 0;
  width: 80%;
  max-width: 1250px;
  justify-content: center;
}

.dresscode__color {
  width: calc( (100% - 40px) / 3);
  max-width: 400px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dresscode__color_var_one {
  background-image: url(../../images/dresscodegirls.jpg);
}

.dresscode__color_var_two {
  background-image: url(../../images/dresscodegirls2.jpg);
}

.dresscode__color_var_three {
  background-image: url(../../images/dresscodegirls3.jpg);
}

.dresscode__color_var_four {
  background-image: url(../../images/dresscodeboys.jpg);
}

.dresscode__color_var_five {
  background-image: url(../../images/dresscodeboys2.jpg);
}

.dresscode__color_var_six {
  background-image: url(../../images/dresscodeboys3.jpg);
}

@media screen and (max-width: 1700px) {
  .dresscode {
    padding-top: 70px;
  }

  .dresscode__title {
    font-size: 100px;
    padding-bottom: 0;
  }

  .dresscode__description {
    font-size: 18px;
    width: 70%;
    margin: 30px 0 0;
  }

  .dresscode__colors {
    margin: 50px 0;
    gap: 10px;
    max-width: 950px;
  }

  .dresscode__color {
    height: 400px;
    max-width: 290px;
  }

  .dresscode__stone {
    width: 700px;
    height: 600px;
    top: -60px;
    left: -500px;
  }
}

@media screen and (max-width: 1300px) {
  .dresscode {
    padding-top: 50px;
  }

  .dresscode__title {
    font-size: 70px;
  }

  .dresscode__description {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
  }

  .dresscode__colors {
    margin: 40px 0 0;
    gap: 20px;
  }

  .dresscode__color {
    height: 350px;
    max-width: 250px;
  }

  .dresscode__stone {
    width: 600px;
    height: 500px;
    top: -60px;
    left: -450px;
  }
}

@media screen and (max-width: 800px) {
  .dresscode {
    padding-top: 30px;
  }

  .dresscode__header {
    flex-direction: row-reverse;
    align-self: flex-start;
  }

  .dresscode__title {
    font-size: 60px;
    width: 250px;
    padding-bottom: 30px;
    line-height: 30px;
    text-align: start;
  }

  .dresscode__description {
    font-size: 12px;
    line-height: 23px;
    width: 80%;
    margin: 0;
  }

  .dresscode__colors {
    margin: 30px 0 0;
    gap: 10px;
    max-width: 420px;
  }

  .dresscode__color {
    height: 250px;
    max-width: 200px;
    min-width: 170px;
  }
  
  .dresscode__color_var_three {
    display: none;
  }
  
  .dresscode__color_var_six {
    display: none;
  }

  .dresscode__stone {
    width: 500px;
    height: 400px;
    top: 160px;
    left: -400px;
  }
}

@media screen and (max-width: 550px) {
  .dresscode__stone {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .dresscode__colors {
    margin: 30px 0 0;
    gap: 10px;
    width: 90%;
    max-width: 420px;
  }

  .dresscode__color {
    height: 220px;
    min-width: 130px;
  }
}