.footer {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px 0;
  position: relative;
}

.footer__stone {
  background-image: url(../../images/line3.svg);
  position: absolute;
  background-size: contain;
  width: 1200px;
  height: 900px;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: -1;
}

.footer__text {
  font-size: 20px;
  margin: 0;
}

.footer__names {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 300px;
  align-items: flex-start;
  text-shadow: -.1px 0 black;
  width: 100%;
}

.footer__name {
  font-family: "rosamarena", "Arial", sans-serif;
  font-size: 70px;
  line-height: 1.2;
  margin: 0;
}

.footer__name-end {
  align-self: flex-end;
}

@media screen and (max-width: 1700px) {
  .footer {
    padding: 50px 0 100px;
  }

  .footer__text {
    font-size: 18px;
  }

  .footer__names {
    max-width: 300px;
  }

  .footer__name {
    font-size: 60px;
  }

  .footer__stone {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    padding: 50px 0 70px;
  }

  .footer__text {
    font-size: 14px;
  }

  .footer__names {
    max-width: 200px;
  }

  .footer__name {
    font-size: 50px;
    line-height: 1.2;
  }

  .footer__stone {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    gap: 5px;
    padding: 40px 0 50px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__names {
    margin-top: 15px;
  }

  .footer__name {
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
  }

  .footer__name-end {
    align-self: flex-end;
  }

  .footer__stone {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 40px 25px 50px;
  }
}
